@import "../../styles/global";
@import "../../styles/variables";

//*{
//  border: 1px solid red;
//}

.hex3 {
  padding: $padding-medium-small $padding-medium;
  background: $secondary-color;
  -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);

  font-weight: bold;
  color: $background-color;
  margin-left: $padding-medium;
}

.card {
  width: 90%;
  background-color: $pure-white;
  border-radius: $border-radius-default;
  padding: $padding-medium;
  box-shadow: rgba(67, 71, 85, 0.27) 0 0 0.25em, rgba(90, 125, 188, 0.05) 0 0.25em 1em;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .title {
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    font-size: 1.1rem;

    span {
      font-weight: normal;
      display: block;
      font-size: 0.9rem;
      color: $primary-color;

      &:before {
        content: "posted by ";
        color: grey;
      }
    }

    .city {
      display: flex;
      align-items: center;
      margin-top: $padding-medium;
      color: grey;
      &:before {
        content: "";
      }
    }
  }
}