@import "../../styles/global";
@import "../../styles/variables";

.frm {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  div {
    width: 100%;
  }
}