@import "../../styles/global";
@import "../../styles/variables";

* {
  //border: 1px solid red;
}

.wrapper {
  background-color: $background-color;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainCard {
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  overflow: hidden;
  width: 60%;
  height: 80%;
  gap: $padding-big;
  background-color: $pure-white;
  border-radius: $border-radius-default;
  display: flex;
  align-items: center;
  flex-direction: row;

  .logo {
    aspect-ratio: 1;
    height: 400px;
  }
}

.switchForm {
  border: none;
  background-color: transparent;
  color: $primary-color;
  font-size: 0.9rem;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.half1 {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;

  .illustr {
    height: 500px;
  }
}

.half2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

@media only screen and (max-width: 768px) {
  .mainCard {
    gap: 0;
    display: flex;
    align-items: center;
    background-color: $pure-white;
    height: 100%;
    width: 100%;
    border-radius: 0;

    .logo {
      height: 350px;
    }
  }

}

@media only screen and (max-width: 1471px) {
  .illustr {
    display: none;
  }
  .half1 {
    width: 0;
  }

  .half2 {
    width: 100%;
    height: 100%;
  }

}